ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

li {
  width: 150px;
  height: 200px;
  box-shadow: 0 5px 10px;
  text-align: center;
}

.favorites {
  background-color: cornflowerblue;
}